<header class="header-bar">
  <div class="header-left">
    <h2 class="title">#title</h2>
  </div>
  <div class="header-center">
    <div class="sign-up-btn">新規登録</div>
    <div class="login-btn">ログイン</div>
  </div>
  <div class="header-right">
    <ul class="contents">
      <li class="content">####</li>
      <li class="content">####</li>
      <li class="content">####</li>
    </ul>
  </div>
</header>
<div id="modal" class="modal" >
  <div id="upper-modal">
    <img url='#'>
  </div>
  <div id="down-modal">
    <img url='#'>
  </div>
</div>
  <div id="middle-modal">
    <img url='#'>
  </div>
<div class="main">
  <div class="first-content">main1</div>
  <div class="second-content">main2</div>
  <div class="third-content">main3</div>
</div>
<footer class="footer-bar">
  <p>~###~</p>
</footer>
