* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 10px 0;
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

.header-bar {
  height: 10vh;
  display: flex;
  border: 1px solid black;
  background-color: gray;
}

.header-left {
  width: 15%;
  border-right: 1px solid black;
}

.header-center {
  width: 35%;
  display: flex;
}

.sign-up-btn {
  width: 50%;
  font-size: large;
  line-height: 65px;
  padding: 0 25px;
  color: black;
  cursor: pointer;
  display: block;
  border: 1px solid lightgoldenrodyellow;
}

.login-btn {
  width: 50%;
  font-size: large;
  line-height: 65px;
  padding: 0 25px;
  color: black;
  cursor: pointer;
  display: block;
  border: 1px solid lightgoldenrodyellow;
}

.header-right {
  width: 50%;
}

.contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.content {
  width: 100px;
  height: 30%;
  list-style: none;
  border: 1px solid black;
}

.main {
  height: 83vh;
  overflow: auto;
}

.first-content {
  height: 300px;
  background-color: aqua;
}

.second-content {
  height: 300px;
  background-color: beige;
}

.third-content {
  height: 300px;
  background-color: blueviolet;
}

#modal {
  height: 85%;
  position: relative;
}

#upper-modal {
  height: 97%;
  width: 100%;
  background-image: url("https://i.gyazo.com/52094e9914636e3ea76aa07a7e249ac4.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid black;
  background-color: transparent;
  background-blend-mode: luminosity;
}

#circle {
  width: 30%;
  max-width: 25%;
  min-width: 25%;
  height: 40%;
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(https://i.gyazo.com/3ff9ca98d9d17f3780b67cb60b766553.png);
  background-size: cover;
}

.footer-bar {
  height: 7vh;
  background-color: gray;
}

.footer-bar p {
  width: 20%;
  min-width: 50%;
  margin: 0 auto;
  border: 1px solid beige;
  text-align: center;
}
